.container {
  text-align:ceter;
  margin:auto;
  width: 250px;
  padding: 10px;
  margin-top: 5%;
  border: 1px solid #ccc;
}
input[type=text], input[type=password], input[type=button]{
	font-family: 'Poppins', sans-serif;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button{
  font-family: 'Poppins', sans-serif;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    cursor: pointer;
}
button:hover{
  background-color: #f9fae9;
}
img{
  width:50%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 25%;
  border-radius: 50%;
}
label, h1{
  font-family: 'Poppins',sans-sans-serif;
}
